<h2>Quotes</h2>
<blockquote>Have fun!<small>The author, <cite title="Source Title">Host</cite></small></blockquote>

<h2>Styles</h2>
<p class="text-muted">This text is muted.</p>
<p class="text-primary">This text is important.</p>
<p class="text-success">This text indicates success.</p>
<p class="text-info">This text is used to convey information.</p>
<p class="text-warning">This text is used to convey a warning.</p>
<p class="text-danger">This text is used to convey danger.</p>

<p class="bg-primary">This is <strong>primary</strong> background.</p>
<p class="bg-success">This is <strong>success</strong> background.</p>
<p class="bg-info">This is <strong>info</strong> background.</p>
<p class="bg-warning">This is <strong>warning</strong> background.</p>
<p class="bg-danger">This is <strong>danger</strong> background.</p>

<h2>Badges</h2>

<h3>On links</h3>
<a href="#">Updates <span class="badge">1</span></a>
<a href="#">Backers <span class="badge">387</span></a>
<a href="#">Comments <span class="badge">6</span></a>

<h3>On buttons</h3>
<button type="button" class="btn btn-success">Success <span class="badge">6</span></button>