<h2>Table types</h2>

<h3>Stripped row & Table hover</h3>
<table class="table table-striped table-hover">
	<tr><td><span class="glyphicon glyphicon-th-list"></span></td><td>Tables</td></tr>
	<tr><td><span class="glyphicon glyphicon-tint"></span></td><td>Text and paragraph styling</td></tr>
	<tr><td><span class="glyphicon glyphicon-tasks"></span></td><td>Nav bar</td></tr>
	<tr><td><span class="glyphicon glyphicon-record"></span></td><td>Buttons</td></tr>
	<tr><td><span class="glyphicon glyphicon-pencil"></span></td><td>Inputs</td></tr>
	<tr><td><span class="glyphicon glyphicon-list"></span></td><td>Pagination</td></tr>
</table>

<h3>Stripped row & Table hover</h3>
<table class="table table-bordered table-hover">
	<tr><td><span class="glyphicon glyphicon-th-list"></span></td><td>Tables</td></tr>
	<tr><td><span class="glyphicon glyphicon-tint"></span></td><td>Text and paragraph styling</td></tr>
	<tr><td><span class="glyphicon glyphicon-tasks"></span></td><td>Nav bar</td></tr>
	<tr><td><span class="glyphicon glyphicon-record"></span></td><td>Buttons</td></tr>
	<tr><td><span class="glyphicon glyphicon-pencil"></span></td><td>Inputs</td></tr>
	<tr><td><span class="glyphicon glyphicon-list"></span></td><td>Pagination</td></tr>
</table>

<h3>Condensed table</h3>
<table class="table table-condensed">
	<tr><td><span class="glyphicon glyphicon-th-list"></span></td><td>Tables</td></tr>
	<tr><td><span class="glyphicon glyphicon-tint"></span></td><td>Text and paragraph styling</td></tr>
	<tr><td><span class="glyphicon glyphicon-tasks"></span></td><td>Nav bar</td></tr>
	<tr><td><span class="glyphicon glyphicon-record"></span></td><td>Buttons</td></tr>
	<tr><td><span class="glyphicon glyphicon-pencil"></span></td><td>Inputs</td></tr>
	<tr><td><span class="glyphicon glyphicon-list"></span></td><td>Pagination</td></tr>
</table>

<h3>Responsive tables</h3>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<tr><td><span class="glyphicon glyphicon-th-list"></span></td><td>Tables</td></tr>
		<tr><td><span class="glyphicon glyphicon-tint"></span></td><td>Text and paragraph styling</td></tr>
		<tr><td><span class="glyphicon glyphicon-tasks"></span></td><td>Nav bar</td></tr>
		<tr><td><span class="glyphicon glyphicon-record"></span></td><td>Buttons</td></tr>
		<tr><td><span class="glyphicon glyphicon-pencil"></span></td><td>Inputs</td></tr>
		<tr><td><span class="glyphicon glyphicon-list"></span></td><td>Pagination</td></tr>
	</table>
</div>

<h2>Table styles</h2>

<table class="table table-striped table-hover">
	<tr class="active"><td>Cell active.1</td><td>Cell active.2</td><td>Cell active.3</td><td>Cell active.4</td><td>Cell active.5</td><td>Cell active.6</td></tr>
	<tr class="success"><td>Cell success.1</td><td>Cell success.2</td><td>Cell success.3</td><td>Cell success.4</td><td>Cell success.5</td><td>Cell success.6</td></tr>
	<tr class="info"><td>Cell info.1</td><td>Cell info.2</td><td>Cell info.3</td><td>Cell info.4</td><td>Cell info.5</td><td>Cell info.6</td></tr>
	<tr class="warning"><td>Cell warning.1</td><td>Cell warning.2</td><td>Cell warning.3</td><td>Cell warning.4</td><td>Cell warning.5</td><td>Cell warning.6</td></tr>
	<tr class="danger"><td>Cell danger.1</td><td>Cell danger.2</td><td>Cell danger.3</td><td>Cell danger.4</td><td>Cell danger.5</td><td>Cell danger.6</td></tr>
	<tr><td>Cell 6.1</td><td class="active">Cell 6.active</td><td class="success">Cell 6.success</td><td class="info">Cell 6.info</td><td class="warning">Cell 6.warning</td><td class="danger">Cell 6.danger</td></tr>
</table>


<h2>Pagination</h2>

<table class="table table-striped table-hover">
	<tr><td>1</td><td>Row 1</td></tr>
	<tr><td>2</td><td>Row 2</td></tr>
	<tr><td>3</td><td>Row 3</td></tr>
	<tr><td>4</td><td>Row 4</td></tr>
	<tr><td>5</td><td>Row 5</td></tr>
</table>

<ul class="pagination">
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
</ul>