<h2>Simple</h2>
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
		<span class="sr-only">50% Complete</span>
	</div>
</div>

<h2>Advanced</h2>
<div class="progress">
	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
		<span class="sr-only">60% Complete (warning)</span>
	</div>
</div>

<h2>Stacked</h2>
Drive C: 
<div class="progress">
	<div class="progress-bar progress-bar-success" style="width: 35%">
		<span>Free Space</span>
	</div>
 
	<div class="progress-bar progress-bar-danger" style="width: 10%">
		<span class="sr-only">10% Complete (danger)</span>
	</div>
</div>
 
Drive D:
<div class="progress">
	<div class="progress-bar progress-bar-success" style="width: 55%">
		<span>Free Space</span>
	</div> 
	<div class="progress-bar progress-bar-danger" style="width: 8%">
		<span>10%</span>
	</div>
</div>