<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Target Platform for OSGi/JEE/UI sample" sequenceNumber="1463743256">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.felix.gogo.shell" version="0.10.0.v201212101605"/>
      <unit id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
      <unit id="org.eclipse.equinox.console" version="1.0.100.v20130429-0953"/>
      <unit id="org.eclipse.equinox.http.jetty" version="3.0.100.v20130327-1442"/>
      <unit id="org.eclipse.equinox.ds" version="1.4.101.v20130813-1853"/>
      <unit id="org.eclipse.pde.junit.runtime" version="3.4.300.v20130422-2046"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <repository id="eclipse" location="http://download.eclipse.org/eclipse/updates/4.3"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="osgi.enterprise" version="4.2.0.v201108120515"/>
      <repository id="orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.eclipsesource.jaxrs.jersey-min" version="2.22.2"/>
      <unit id="com.eclipsesource.jaxrs.publisher" version="5.3.1.201602281253"/>
      <repository location="http://hstaudacher.github.io/osgi-jax-rs-connector"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.eclipsesource.restfuse" version="1.2.0.201302251808"/>
      <repository id="restfuse" location="http://download.eclipsesource.com/technology/restfuse/p2/"/>
    </location>
  </locations>
</target>
